:root {
    --color1: #f12b6b;
    --color2: #f6c7c7;
    --color3: #f45b8c;
    --color4: #db0e50;
    --color6: #ef9b9b;
    
    --white: #fdf3f3;
    --lgrey: #9c9797;
    --grey: #413f3f;
    --black: #000000;
    --alpha: #00000000;
}

* {
    transition: 0.2s;
    font-family: Geologica, sans-serif;
    color: var(--black);
}

div.container-navbar {
    background-color: var(--color2);
    box-shadow: 0 1px 2px var(--lgrey);
}

ul.nav {
    padding: 14px 0;
}

img.nav-img,
input.nav-search,
div.nav-menu {
    margin: 0 2px;
    height: 40px;
}

img.nav-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 4px;
}

input.nav-search {
    border: 1px solid var(--grey);
    border-radius: 10vh;
    padding: 0 14px;
    width: auto;
}

div.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    font-size: 20px;
    text-transform: uppercase;
    border: 0;
    border-bottom: 2px solid var(--alpha);
}

div.nav-menu:hover {
    border-color: var(--color1);
}

div.nav-menu:hover * {
    color: var(--color1);
}

div.row {
    padding: 14px 0;
}

a {
    text-decoration: none;
    display: flex;
}

p {
    margin: 0;
}

i {
    margin: 0 2px;
}

h2 {
    margin: 1em 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

h4 {
    margin-bottom: 1em;
    display: flex;
    text-align: center;
    justify-content: center;
}

img.img-ad {
    width: 100%;
    border: 1px solid var(--lgrey);
    border-radius: 5px;
    box-shadow: 0 0 2px var(--lgrey);
}

p.p-ref {
    text-transform: uppercase;
    text-align: right;
    font-size: 10px;
    color: var(--lgrey);
}

div.div-tile {
    background-color: var(--color2);
    border-radius: 5px;
    box-shadow: 0 0 4px var(--lgrey);
    height: 100%;
    padding: 1em;
    margin: 1em;
    max-width: 400px;
}