:root {
    --color1: #f12b6b;
    --color2: #f6c7c7;
    --color3: #f45b8c;
    --color4: #db0e50;
    --color6: #ef9b9b;
    
    --white: #fdf3f3;
    --lgrey: #9c9797;
    --grey: #413f3f;
    --black: #423f3f;
    --alpha: #00000000;
}

html * {
    transition: 0.2s;
    font-family: Geologica, sans-serif;
    color: var(--black);
}

body {
    background-color: var(--white);
}

div.container-navbar {
    background-color: var(--color2);
    box-shadow: 0 1px 2px var(--lgrey);
}

ul.nav {
    padding: 14px 0;
}

img.nav-img,
input.nav-search,
div.nav-menu {
    margin: 0 2px;
    height: 40px;
}

img.nav-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 4px;
}

input.nav-search {
    border: 1px solid var(--grey);
    border-radius: 10vh;
    padding: 0 14px;
    width: 190px;
}

div.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    font-size: 20px;
    text-transform: uppercase;
    border: 0;
    border-bottom: 2px solid var(--alpha);
}

div.nav-menu:hover {
    border-color: var(--color1);
}

div.nav-menu:hover * {
    color: var(--color1);
}

div.row {
    padding: 14px 0;
}

a {
    text-decoration: none;
    display: flex;
}

p {
    margin: 0;
}

i {
    margin: 0 2px;
}

h2 {
    margin: 1em 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

h3 {
    margin: 0 1rem;
}

h4 {
    margin-bottom: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.adv {
    width: 100%;
    padding: 0 1rem;
}

.adv img {
    width: 100%;
    border: 1px solid var(--lgrey);
    border-radius: 5px;
    box-shadow: 0 0 2px var(--lgrey);
}

.adv p {
    text-transform: uppercase;
    text-align: right;
    font-size: 10px;
    color: var(--lgrey);
}

div.tile {
    padding: 1rem;
    height: 100%;
}

div.tile-item {
    background-color: var(--color2);
    border-radius: 5px;
    box-shadow: 0 0 2px var(--lgrey);
    height: 100%;
    padding: 1rem;
}

.car {
    border: none;
    overflow: auto;
    white-space: nowrap;
    padding: 0.5rem;
}

.car a {
    display: inline-block;
}

.car::-webkit-scrollbar {
    display: none;
}

.car-item {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 4px var(--lgrey);
    height: 100%;
    width: 230px;
    padding: 1em;
    margin: 0.5rem;
    position: relative;
}

.car-item .name {
    margin-top: 4px;
    overflow: hidden;
    white-space: initial;
    height: 3em;
    text-transform: capitalize;
}

.car-item .old-price {
    margin-top: 4px;
    text-align: right;
    text-transform: uppercase;
    text-decoration: line-through;
    padding: 0 1rem;
}

.car-item .price {
    margin-top: 1em;
    text-align: right;
    background-color: var(--color2);
    text-transform: uppercase;
    padding: 4px 1em;
    font-size: 24px;
}

.car-item .discount {
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: var(--color1);
    padding: 2px 1em;
    border-radius: 50vh;
    color: var(--white);
    text-transform: uppercase;
}

.car-item img {
    width: 100%;
    height: 160px;
    object-position: center;
    object-fit: contain;
}